.Rproj.user
.Rhistory
.RData
.Ruserdata

# folders to ignore
_freeze/
_prep/
.quarto/

data/
images/
index_files/
pensions_files/
results/

# file types to ignore
*.csv
*.doc*
*.html
*.pdf
*.png
*.pptx
*.xl*
*.zip
